.trash
Vault/Privat
Vault/.trash
Vault/.obsidian
Vault/.obsidian_iphone
Vault/assets
Vault/templates
Vault/🎓 Schule/2021_22
Vault/🎓 Schule/2022_23
Vault/🎓 Schule/Fachbetreuung
Vault/🎓 Schule/Medienkonzept